.rows {
    display: flex;
    flex-direction: column;
}

#mainBox {
    width: 850px;
    height: 300px;
}

#subBox {
    background-color: royalblue;
    color: white;
    width: 120px;
    height: 160px;
}